<!-- wp:template-part {"slug":"header","theme":"landing-page-block"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-featured-image /-->

    <!-- wp:post-title {"textColor":"secondary","fontSize":"x-large","fontFamily":"Montserrat"} /-->

    <!-- wp:post-content {"layout":{"type":"default"},"fontSize":"large","fontFamily":"nunito_sans"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"landing-page-block"} /-->